.header__style {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
    gap: 50px;
}

header {
    background-color: var(--color-header-background);
    width: 100%;
    border-bottom: 2px var(--color-header-border) solid;
    position: fixed;
    padding-left: 100px;
}

.links {
    color: white;
    text-decoration: none;
}

.links:hover {
    color: rgba(255, 255, 255, 0.514);
}

