.content__heading_text_style {
    font-size: 2rem;
    margin: 0;
    padding: 15px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-dark-blue);
    background-color: var(--color-white-smoke);
}

.content__image {
    width: 170px;
}

.content__style {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.content__description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.links__anime {
    font-size: 1.5rem;
    color: var(--color-light-red);
    text-decoration: none;
}   

.links__anime:hover {
    color: var(--color-red);
    text-decoration: underline;
}

.content__descriprion_span_style {
    font-size: 1.0rem;
}

.content__description_text_style {
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    color: var(--color-dark-blue);
}


@media (orientation: portrait) {
    .content__heading_text_style {
        font-size: clamp(2vh, 3vh, 4vh);
        margin: 0;
        padding: 15px;
        font-weight: 500;
        line-height: 1.2;
        color: var(--color-dark-blue);
        background-color: var(--color-white-smoke);
    }

    .content__image {
        width: clamp(23vh, 25vh, 27vh);
    }

    .content__style {
        margin: 20px;
        margin-bottom: 70px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .content__description {
        align-items: center;
    }

    .links__anime {
        font-size: clamp(3vh, 3.5vh, 4vh);
    }   
    
    .content__descriprion_span_style {
        font-size: clamp(1vh, 2.5vh, 3vh);
    }
    
    .content__description_text_style {
        font-size: clamp(1.5vh, 2vh, 2.5vh);
    }
}

