.page-header {
    background-color: var(--color-baltic-sea);
    width: 100%;
    border-bottom: 2px var(--color-tomato) solid;
    position: fixed;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
    gap: 50px;
}

.header-contents-links {
    color: var(--color-white);
    text-decoration: none;
}

.header-contents-links:hover {
    color: rgba(255, 255, 255, 0.514);
}

@media (orientation: portrait) {
    .page-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: clamp(4vh, 8vh, 9vh);
        border-bottom: 3px var(--color-tomato) solid;
    }

    .header-image {
        width: clamp(12vh, 13vh, 15vh);
    }
    
    .header-contents {
        display: none;
    }

}

